<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<title>Demo</title>
	</head>
	<body>
		<a href="#test">Test</a> | <a href="#another">Another</a>
		<div id="content"></div>

		<script src="/bower_components/riot/riot.min.js"></script>
		<!--<script src=""></script>-->
		<script>
			content = document.getElementById('content');
//			riot.mount('*');
			riot.route(function(collection, id, action){
				content.innerHTML = "This is the "+ collection +" page bitches...";
			});
		</script>
	</body>
</html>